<footer class="footer">
    <div class="container">
        <div class="footer-contact">
            <article class="lh-lg">
                <h3 class="mb-5">( ارتباط با من )</h3>
                <h4>
                    ایران,اراک
                    <i class="ms-3 fs-3 fa fa-map-marker"></i>
                </h4>
                <p>+98 937 251 8997<i class="ms-3 fs-1 fa fa-mobile"></i></p>
                <p>hooman.jafari3647@yahoo.com<i class="ms-3 fs-3 fa fa-yahoo"></i></p>
            </article>
        </div>
        <div class="social-media">
            <article >
                <h3 class="">( شبکه های اجتماعی )</h3>
                <a href="https://instagram.com/hooman_jafari76?utm_source=qr&igshid=MW10bzZoMTVsYzJheA==" target="_blank" class="text-white">
                    <i class="fa fa-facebook fs-3"></i>
                </a>
                <a href="https://instagram.com/hooman_jafari76?utm_source=qr&igshid=MW10bzZoMTVsYzJheA==" target="_blank" class="text-white">
                    <i class="fa fa-instagram fs-3"></i>
                </a>
                <a href="https://instagram.com/hooman_jafari76?utm_source=qr&igshid=MW10bzZoMTVsYzJheA==" target="_blank" class="text-white">
                    <i class="fa fa-google-plus fs-3"></i>
                </a>
                <a href="https://instagram.com/hooman_jafari76?utm_source=qr&igshid=MW10bzZoMTVsYzJheA==" target="_blank" class="text-white">
                    <i class="fa fa-twitter fs-3"></i>
                </a>
            </article>
        </div>
    </div>
</footer>
